<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="AcidUnit\Admin\Model\AdminConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <!-- WysiwygEditor config provider for admin data model -->
                <item name="wysiwyg_editor_config_provider" xsi:type="object">AcidUnit\WysiwygEditor\Model\WysiwygEditorConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
