<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- submenu item -->
        <add id="AcidUnit_WysiwygEditor::acid_menu_item"
             title="Wysiwyg Editor"
             module="AcidUnit_WysiwygEditor"
             sortOrder="20"
             parent="AcidUnit_Admin::acid_menu"
             action="admin/system_config/edit/section/cms"
             resource="AcidUnit_WysiwygEditor::acid_menu_item"
        />
    </menu>
</config>
